:root {
--app-background-color: #145975;
}

.main-container {
   display: flex;
}

.left-panel {
    background-color: var(--app-background-color);
    width: 300px;
}

.right-panel {
    display:flex;
    flex-direction: column;
}

.header {
    background-color:  var(--app-background-color);
    height:150px
}

.main-viewer {
    display:flex;
    flex-direction: row;
}

.label-panel {
    border-left: black;
    border-left-style: solid;
    border-left-width: 1px;
    width: 100px;
}
